{% extends "layout.html" %}
{% block title %}
    Give yourself more money
{% endblock %}

{% block main %}
    <img src="https://r.hswstatic.com/w_907/gif/10-save-printing-1.jpg" style="width: 50%; height: 50%">
    <br><br>
    <form action="/zimbabwe" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="money" placeholder="Єитёя моиєу" type="number" min="0"/>
        </div>
        <button class="btn btn-primary" type=submit>Pґїит моиёџ!</button>
    </form>
{% endblock %}